<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Components test</title>
    <link rel="stylesheet" href="css/init.css">
    <script type="text/javascript" src="js/visualization.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
    <noscript>本页面需要浏览器支持(启用)JavaScript</noscript>
    <div class="visual-area">
        <div class="data-visual-area1">
            <script type="text/javascript">data_visualization1()</script>
        </div>
        <div class="data-visual-area2">
            <script type="text/javascript">data_visualization2()</script>
        </div>
        <div class="data-visual-area3">
            <script type="text/javascript">data_visualization3()</script>
        </div>
        <div class="data-visual-area4">
            <script type="text/javascript">data_visualization4()</script>
        </div>
    </div>
</body>
</html>