<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Components test</title>
    <link rel="stylesheet" href="css/init.css">
    <script type="text/javascript" src="js/visualization.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/dataTool.js"></script>
</head>
<body>
    <noscript>本页面需要浏览器支持(启用)JavaScript</noscript>
    <div class="visual-area">
        <div id="visual-1" class="data-visual-area1">
            <script type="text/javascript">data_visualization1()</script>
        </div>
        <div id="visual-2" class="data-visual-area2">
            <script type="text/javascript">data_visualization2()</script>
            <div class="selectArea">
                <span class="propertyName">选择科目</span>
                <select name="selectSub" id="selectSub">
                    <option value="0">语文</option>
                    <option value="1">数学</option>
                    <option value="2">英语</option>
                    <option value="3">物理</option>
                    <option value="4">化学</option>
                    <option value="5">政治</option>
                    <option value="6">历史</option>
                    <option value="7">生物</option>
                    <option value="8">地理</option>
                    <option value="9">素质教育</option>
                </select>
            </div>
        </div>
        <div id="visual-3" class="data-visual-area3">

            <script type="text/javascript">data_visualization3()</script>
        </div>
        <!--<div id="visual-4" class="data-visual-area4">-->
            <!--<script type="text/javascript">data_visualization4()</script>-->
        <!--</div>-->
    </div>
</body>
</html>