<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Components test</title>
    <link rel="stylesheet" href="css/init.css">
    <script type="text/javascript" src="js/visualization.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/dataTool.js"></script>

</head>
<body>
    <noscript>本页面需要浏览器支持(启用)JavaScript</noscript>
    <div class="visual-area">
        <div id="visual-1" class="data-visual-area1">
            <script type="text/javascript">data_visualization1()</script>
        </div>
        <div id="visual-2" class="data-visual-area2">
            <script type="text/javascript">data_visualization2()</script>
            <div class="selectArea1">
                <span class="propertyName1">选择科目</span>
                <select name="selectSub1" id="selectSub1">
                    <option value="0">语文</option>
                    <option value="1">数学</option>
                    <option value="2">英语</option>
                    <option value="3">物理</option>
                    <option value="4">化学</option>
                    <option value="5">政治</option>
                    <option value="6">历史</option>
                    <option value="7">生物</option>
                    <option value="8">地理</option>
                    <option value="9">素质教育</option>
                </select>
            </div>
        </div>
        <div id="visual-3" class="data-visual-area3">
            <script type="text/javascript">data_visualization3()</script>
        </div>
        <div id="visual-4" class="data-visual-area4">
            <script type="text/javascript">data_visualization4()</script>
            <div class="selectArea2">
                <span class="propertyName2">选择时间</span>
                <select name="selectSub2" id="selectSub2">
                    <option value="0">学年统计</option>
                    <option value="1">学期统计</option>
                    <option value="2">当前年份</option>
                    <option value="3">当前月份</option>
                </select>
            </div>
        </div>
        <div id="visual-5" class="data-visual-area5">
            <script type="text/javascript">data_visualization5()</script>
            <div class="selectArea3">
                <span class="propertyName3">选择时间</span>
                <select name="selectSub3" id="selectSub3">
                    <option value="0">学年统计</option>
                    <option value="1" selected="selected">学期统计</option>
                    <option value="2">当前年份</option>
                    <option value="3">当前月份</option>
                </select>
            </div>
        </div>
        <div id="visual-6" class="data-visual-area6">
            <script type="text/javascript">data_visualization6()</script>
            <div class="selectArea4">
                <span class="propertyName4">选择时间</span>
                <select name="selectSub4" id="selectSub4">
                    <option value="0">学年统计</option>
                    <option value="1">学期统计</option>
                    <option value="2" selected="selected">当前年份</option>
                    <option value="3">当前月份</option>
                </select>
            </div>
        </div>
        <div id="visual-7" class="data-visual-area7">
            <script type="text/javascript">data_visualization7()</script>
        </div>
        <div id="visual-8" class="data-visual-area8">
            <script type="text/javascript">data_visualization8()</script>
        </div>
        <div id="visual-9" class="data-visual-area9">
            <script type="text/javascript">data_visualization9()</script>
        </div>
    </div>
</body>
</html>