<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清水寺种辣椒copyRight</title>
    <link rel="stylesheet" href="css/init.css">
    <script type="text/javascript" src="js/visualization.js"></script>
    <script type="text/javascript" src="js/echarts.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
    <noscript>本页面需要浏览器支持(启用)JavaScript</noscript>
    <div class="header">
        <div class="brand">
            <a id="brand-name">津南数字制造算法赛</a>
        </div>
    </div>
    <div class="visual-area">
        <div class='data-visual-area1' id='data-visual-area1'>
            <script type="text/javascript">data_visualization1()</script>
        </div>
        <div class="select-data-area" style="width:140px; position: absolute; left: 5px; top: 5px; z-index: 1000;">
            <ul>
                <li class="cr string" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name" style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp xAxis
                        </span>
                        <div>
                            <select id="selectx1">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="cr string" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name"  style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp yAxis
                        </span>
                        <div>
                            <select id="selecty1">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='data-visual-area2' id='data-visual-area2'>
            <script type="text/javascript">data_visualization2()</script>
        </div>
        <div class="select-data-area2" style="width:140px; position: absolute; left: 51%; top: 5px; z-index: 1000;">
            <ul>
                <li class="cr string2" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name2" style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp xAxis
                        </span>
                        <div>
                            <select id="selectx2">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="cr string2" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name2"  style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp yAxis
                        </span>
                        <div>
                            <select id="selecty2">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='data-visual-area3' id='data-visual-area3'>
            <script type="text/javascript">data_visualization3()</script>
        </div>
        <div class="select-data-area3" style="width:140px; position: absolute; left: 5px; top: 51%; z-index: 1000;">
            <ul>
                <li class="cr string3" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name3" style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp xAxis
                        </span>
                        <div>
                            <select id="selectx3">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="cr string3" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name3"  style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp yAxis
                        </span>
                        <div>
                            <select id="selecty3">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='data-visual-area4' id='data-visual-area4'>
            <script type="text/javascript">data_visualization4()</script>
        </div>
        <div class="select-data-area4" style="width:140px; position: absolute; left: 51%; top: 51%; z-index: 1000;">
            <ul>
                <li class="cr string4" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name4" style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp xAxis
                        </span>
                        <div>
                            <select id="selectx4">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="cr string4" style="border-left: 3px solid #1ed36f; background: #1a1a1a; border-bottom: 1px solid #2c2c2c">
                    <div>
                        <span class="property-name4"  style="cursor: default; float: left; clear: left; width: 50%; overflow: hidden; text-overflow: ellipsis; color: #fff;">
                            &nbsp yAxis
                        </span>
                        <div>
                            <select id="selecty4">
                                <option value="0">yield</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A6</option>
                                <option value="6">A8</option>
                                <option value="7">A10</option>
                                <option value="8">A12</option>
                                <option value="9">A13</option>
                                <option value="10">A15</option>
                                <option value="11">A17</option>
                                <option value="12">A18</option>
                                <option value="13">A19</option>
                                <option value="14">A21</option>
                                <option value="15">A22</option>
                                <option value="16">A23</option>
                                <option value="17">A25</option>
                                <option value="18">A27</option>
                                <option value="19">B1</option>
                                <option value="20">B2</option>
                                <option value="21">B3</option>
                                <option value="22">B6</option>
                                <option value="23">B8</option>
                                <option value="24">B12</option>
                                <option value="25">B13</option>
                                <option value="26">B14</option>
                                <option value="27">id</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
